@page "/fizzbuzz"
@rendermode InteractiveServer
<PageTitle>FiiiiiiiiiiiiiiiiizzBuzz!</PageTitle>
<h3>The incredible FizzBuzz game!</h3>
<input type="number" @bind="inputText" />
<button @onclick="HandleButtonClick">Submit</button>
<p>@displayedText</p>
@code {
    private string inputText = "";
    private string displayedText = "";
    private void HandleButtonClick()
    {
        Console.WriteLine($"Button clicked with input: {inputText}");
        int inputFizzBuzz = 0;
        string? checkOutput;
        //If true, means a specific case happened.
        if(FizzBuzzGame.InitialCheck(inputText, out checkOutput, out inputFizzBuzz))
        {
            displayedText = checkOutput ?? "";
            return;
        }
        displayedText = "Result: ";
        // Use 'inputText' for further processing
        // Update 'displayedText' to show the entered text
        displayedText += FizzBuzzGame.Play(inputFizzBuzz);
    }
}