@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, peeps!</h1>

This would be my website, wouldn't it?
You'll find reptiles, a never-seen-before FizzBuzz game, and... A login page that doesn't allow you to login.