@page "/login"
@rendermode InteractiveServer
<h3>Login</h3>
<p>Login ain't workin yet</p>
<button @onclick="GetLogin">Simple test</button>
@code {
    private void GetLogin()
    {
        Console.WriteLine($"test");
    }
}