@page "/login"
@rendermode InteractiveServer
<PageTitle>Login</PageTitle>
<h3>Login</h3>
<p>It's a trap, ain't no login here.</p>
<button @onclick="GetLogin">Simple test</button>
@code {
    private void GetLogin()
    {
        Console.WriteLine($"test");
    }
}